# Angular Default
/dist
/tmp
/out-tsc
/bazel-out
/.angular

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Azure
.azure/
*.publish.xml
*.pubxml